.App {
  text-align: center;
}

.button {
  background-color: green;
  font: inherit;
  border: 1px solid;
  padding: 8px;
  transition: all .2s ease;

  @media (max-width: 800px) {
    background: blue;
  }
}

.button:hover {
  background: cyan;
  cursor: pointer;
}
